{% extends '::base.html.twig' %}

{% block content %}
    <div class="span12">
        <div class="hero-unit">
            <h1>Bem vindo ao GENESIS!</h1>
            <p>O Genesis é um programa voltado para igrejas que desejam publicar informativos, noticias,
                terem alertas de compromissos, gerenciar membros, ministérios, grupos, ter controle de frequências,
                dentre outras atividades relacionadas.</p>
        </div>
    </div>
    {#{% verbatim %}#}
        {#Código em AngularJS#}
    {#{% endverbatim %}#}
{% endblock %}
